

  @media (max-width: 550px) {

    body {
      margin: 0;
      padding: 0;
      background-color:  hsl(218, 28%, 13%);
      color: white;
      Font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }


    nav {
      width: 100%;
      font-family: 'Raleway', sans-serif;

    }

    nav img {
      width: 20%;
      margin-left: 5%;
      float: left;
      margin-top:  10%;
    }

  .top-link {
    width: 40%;
    margin-left: 60%;
  }

    nav a {

      margin-top: 25%;
      float: left;
      padding: 3%;
      color: white;
      text-decoration: none;
      display: inline;
      font-size: 0.7rem;
    }


    .top-img {
      width: 100%;
    }

    .top-img img {
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
      }


      .container {
        background-image: url(images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        position: relative;
        background-size: auto;
      }

      .section-1 {
        width: 100%;
        text-align: center;
      }


    .section-1 h1 {
      width: 80%;
      font-family: 'Raleway', sans-serif;
      margin-left: 10%;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 35px;
      padding-top: 15%;
    }

    .section-1 button {
      width: 70%;
      font-family: 'Raleway', sans-serif;
      padding: 4% 0;
      margin: 5% 0;
      border-radius: 50px;
      outline: none;
      background :hsl(198, 60%, 50%);
      color: white;
      border: none;
      font-weight: 700;
    }

    .section-1 p {
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      line-height: 24px;
      font-size: 0.8rem;
    }

    .container-2 {
      width: 100%;
      margin-top: 30%;
      text-align: center;
    }

    .box-1, .box-2, .box-3, .box-4 {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 20%;
    }

    .box-1 img, .box-2 img, .box-3 img, .box-4 img {
      width: 20%;
    }

    .box-1 h1, .box-2 h1, .box-3 h1, .box-4 h1 {
      width: 90%;
      margin-left: 5%;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem;
      margin-top: 10%;
      margin-bottom: 5%;
      font-weight: 600;
    }

    .box-1 p, .box-2 p, .box-3 p, .box-4 p {
      width: 100%;
      font-size: 0.8rem;
      font-weight: 200;
    }

    .container-3 {
      width: 100%;
    }

    .container-3 img {
      width: 80%;
      margin: 20% 10% 10% 10%;

    }

    .container-4 {
      width: 100%;
    }

    .container-4 h2 {
      width: 85%;
      margin-left: 5%;
      font-size: 1.1rem;
    }

    .container-4 p {
      width: 82%;
      margin-left: 5%;
      margin-top: 5%;
      line-height: 24px;
      font-weight: 200;
    }



   .container-4-box {
     width: 100%;
  }
    .container-4-box p {
      width: 30%;
      margin-left: 5%;
      float: left;
      margin-top: 3%;
      font-size: 0.7rem;
    }

    .container-4-box img {
       margin-top: 4%;
       margin-bottom: 5%;
       margin-left: 1%;
    }


    .img-quote {
      width: 100%;
    }


    .img-quote img {
      width: 5%;
      margin-left: 10%;
    }

    .section-5 {
      width: 100%;
      margin-top: 2%;
    }

     .box-5, .box-6, .box-7 {
      width: 80%;
      margin-left: 10%;
      background-color: hsl(219, 30%, 18%);
      border-radius: 10px;
      margin-top: 0;
      position: relative;
    }

    .box-5 p, .box-6 p, .box-7 p {
      width: 80%;
      padding-left:5%;
      font-size: 0.7rem;
      padding-top: 5%;
      font-weight: normal;
    }

    .test-1 {
      width: 100%;
      padding-bottom: 10%;
    }

    .test-1 img {
      width: 15%;
      margin-left: 5;
      margin-top: 5%;
      border-radius: 100%;
      float: left;
    }

    .test-1 h1 {
      width: 60%;
      font-size: 0.7rem;
      font-weight: bold;
      margin-left: 30%;
  padding-top: 8%;
    }

    .test-1 h2 {
      width: 40%;
      font-size: 0.5rem;
      margin-left: 25%;
      font-weight: 200;
      line-height: 0;
      margin-bottom: 5%;
      margin-top: 5%;
      margin-left: 30%;
    }


    .section-6 {
      width: 90%;
      margin: 20% 5%;
      background-color: hsl(217, 28%, 15%);
      border-radius: 10px;
      text-align: center;
      position: absolute;
      bottom:  700;
      z-index: 0;
    }

    .section-6 h2 {
      width: 70%;
      margin: 0 15%;
      padding: 10% 0;
      font-weight: 400;
      font-size: 1.2rem;
    }

    .section-6 p {
      width: 80%;
      margin: 0 10%;
      line-height: 22px;
      font-weight: 200;
      font-size: 0.9rem;
    }

    .section-6 input {
      width: 80%;
      margin-top: 8%;
      padding: 4%;
      border-radius: 50px;
      border: none;
      outline: none;
      font-size: 0.7rem;
    }


    .section-6 button {
      width: 80%;
      margin-top: 5%;
      padding: 4%;
      border-radius: 50px;
      border: none;
      outline: none;
      margin-bottom: 10%;
      background-color:  hsl(198, 60%, 50%);
      color: white;
    }


    footer {
      width: 100%;
      background-color: hsl(216, 53%, 9%);
      z-index: -1;
      position: absolute;
      top: 3500px;
    }

    .footer-logo {
      width: 100%;
      margin-top: 40%;
    }

    .footer-logo img {
      width: 30%;
      margin-left: 5%;
      margin-top: 15%;
      margin-bottom: 10%;
      padding-top: 20%;
    }

    .location {
      width: 100%;
    }

    .location img {
      float: left;
      width: 4%;
      margin-left: 5%;
      margin-right: 3%;
      margin-top: 7%;
    }

    .location p {
      width: 85%;
      float: left;
      margin-top: 7%;
      margin-bottom: 10%;
    }

    .contact {
      width: 100%;
    }

    .contact img {
      width: 5%;
      float: left;
      margin-left: 5%;
      margin-right: 3%;
      margin-top: 3%;
    }

    .contact p {
      width: 85%;
      float: left;
      margin-top: 3%;
    }

    .email {
      width: 100%;
    }

    .email img {
      width: 5%;
      float: left;
      margin-left: 5%;
      margin-right: 3%;
      margin-top: 7%;
    }

    .email p {
      width: 60%;
      float: left;
        margin-top: 6%;
        margin-bottom: 8%;
    }

    .link {
      margin-top: 70%;
      padding-bottom: 5%;
      margin-left: 5%;
    }

    .link-2 {
      padding-top: 0;
      padding-bottom: 10%;
      margin-left: 5%;
    }

    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 2%;
    }

    .icon {
      width: 50%;
      margin-top: 10%;
      margin-left: 25%;
      margin-bottom: 5%;
      text-align: center;
    }

    i {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: white;
      border: 1px solid white;
      padding: 5px;
      border-radius: 100%;
      margin: 1%;
    }

  .attribution {
      width: 100%;
      text-align: center;
    }

    .attribution p {
      width: 80%;
      margin-left: 10%;
      font-size: 0.8rem;
    }

  .attribution a {
      text-decoration: none;
      display: inline;
    }





  }


@media (min-width: 551px) {

html {
  padding: 0;
  margin: 0;
}
  body {
    margin: 0;
    padding: 0;
    background-color:  hsl(218, 28%, 13%);
    color: white;
    Font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }


  nav {
    width: 100%;
    font-family: 'Raleway', sans-serif;

  }

  nav img {
    width: 8%;
    margin-left: 5%;
    float: left;
    margin-top:  5%;
  }

.top-link {
  width: 30%;
  margin-left: 70%;
}

  nav a {
    margin-bottom: 2%;
    margin-left: 9%;
    margin-top: 17%;
    float: left;
    color: white;
    text-decoration: none;
    display: inline;
    font-size: 0.6rem;
  }


  .top-img {
    width: 100%;
  }

  .top-img img {
      width: 40%;
      margin-top: 5%;
      margin-left: 30%;
    }


    .container {
      background-image: url(images/bg-curvy-desktop.svg);
      background-repeat: no-repeat;
      position: relative;
      background-size: auto;
    }

    .section-1 {
      width: 100%;
      text-align: center;
    }


  .section-1 h1 {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    margin-left: 25%;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 37px;
  }

  .section-1 button {
    width: 20%;
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
    padding: 1% 0;
    outline: none;
    background :hsl(198, 60%, 50%);
    color: white;
    border: none;
    font-weight: 700;
  }

  .section-1 p {
    width: 36%;
    margin-left: 32%;
    line-height: 20px;
    font-size: 0.68rem;
  }

  .container-2 {
    width: 100%;
    margin-top: 10%;
    text-align: center;
  }

  .box-inner  {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .box-1 {
    width: 25%;
    margin-left: 10%;
  }

  .box-2 {
    width: 25%;
    margin-right: 10%;
  }

  .box-inner-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }

  .box-3 {
    width: 25%;
    margin-left: 10%;
  }

  .box-4 {
    width: 25%;
    margin-right: 10%;
  }



  .box-1 img, .box-3 img {
    width: 20%;
  }

  .box-2 img {
    width: 15%;
  }

  .box-4 img {
    width: 25%;
  }

  .box-1 h1, .box-2 h1, .box-3 h1, .box-4 h1 {
    width: 90%;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    margin-top: 8%;
    margin-bottom: 1%;
    font-weight: 400;
  }

  .box-1 p, .box-2 p, .box-3 p, .box-4 p {
    width: 100%;
    font-size: 0.6rem;
    font-weight: 200;
  }

  .box-inner-2  {
    width: 100%;
    display: flex;
  }

  .container-3 {
    width: 50%;
  }

  .container-3 img {
    width: 85%;
    margin: 5% 10% 0 10%;

  }

  .container-4 {
    width: 50%;
  }

  .container-4 h2 {
    width: 40%;
    margin-left: 5%;
    font-size: 1.2rem;
    padding-top: 18%;
    word-spacing: 3px;
  }

  .container-4 p {
    width: 80%;
    margin-left: 5%;
    margin-top: 1%;
    line-height: 22px;
    font-weight: 200;
    font-size: 0.68rem;
  }



 .container-4-box {
   width: 100%;
   margin: 0;
}
  .container-4-box p {
    width: 20%;
    margin-left: 5%;
    float: left;
    margin-top: 1%;
    font-size: 0.7rem;
  }

  .container-4-box img {
     margin-top: 1.5%;
     margin-left: 0;
  }



  .img-quote img {
    width: 2%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .section-5 {
    width: 100%;
    margin-top: 0;
    display: flex;
  }

   .box-5 {
    width: 25%;
    margin-left: 10%;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    margin-top: 0;
  }

  .box-6 {
    width: 25%;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    margin-top: 0;
    margin-left: 3%
  }

  .box-7 {
    width: 25%;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 10%
  }

  .box-5 p, .box-6 p, .box-7 p {
    width: 80%;
    padding-left:5%;
    font-size: 0.6rem;
    padding-top: 5%;
    font-weight: 200;
  }

  .test-1 {
    width: 100%;
    padding-bottom: 10%;
  }

  .test-1 img {
    width: 15%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 100%;
    float: left;
  }

  .test-1 h1 {
    width: 60%;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 25%;
padding-top: 8%;
  }

  .test-1 h2 {
    width: 40%;
    font-size: 0.5rem;
    margin-left: 25%;
    font-weight: 200;
    line-height: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
  }


  .section-6 {
    width: 60%;
    margin-top: 15%;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    text-align: center;
    margin-left: 20%;
    position: absolute;
    z-index: 0;
  }

  .section-6 h2 {
    width: 70%;
    margin-left: 15%;
    padding-top: 3%;
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 0;
  }

  .section-6 p {
    width: 70%;
    margin-left: 15%;
    padding-top: 0;
    margin-top: 0;
    line-height: 22px;
    font-weight: 200;
    font-size: 0.7rem;
  }

  .section-6 input {
    width: 55%;
    margin-top: 3%;
    padding: 2%;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 0.7rem;
  }


  .section-6 button {
    width: 25%;
    margin-left: 3%;
    padding: 2%;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-bottom: 5%;
    background-color:  hsl(198, 60%, 50%);
    color: white;
    font-size: 0.7rem;
  }


  footer {
    width: 100%;
    background-color: hsl(216, 53%, 9%);
    margin-top: 25%;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-logo img {
    width: 15%;
    margin-left: 10%;
    margin-bottom: 3%;
    padding-top: 15%;
  }

  .location {
    width: 25%;
    margin-left: 9%;
    float: left;
  }

  .location img {
    float: left;
    width: 8%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
  }

  .location p {
    width: 80%;
    float: left;
    margin-top: 1%;
    line-height: 25px;
  }

  .contact-div {
    width: 20%;
    float: left;
    margin-left: 5%
  }

  .contact {
    width: 90%;
    float: left;
  }

  .contact img {
    width: 8%;
    float: left;
    margin-right: 3%;
    margin-top: 3%;
  }

  .contact p {
    width: 85%;
    float: left;
    margin-top: 3%;
  }

  .email {
    width: 90%;
  }

  .email img {
    width: 8%;
    float: left;
    margin-right: 3%;
    margin-top: 5%;
  }

  .email p {
    width: 60%;
    float: left;
      margin-top: 5%;
  }

  .link {
    width: 10%;
    float: left;
  }

  .link-2 {
    width: 10%;
    float: left;
  }

  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 4%;
  }

  .icon {
    width: 20%;
    margin-bottom: 10%;
    text-align: center;
    float: left;
  }

  i {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
    margin: 3%;
  }

.attribution {
    width: 100%;
    text-align: center;

    font-size: 1rem;
  }

.attribution p {
    width: 70%;
    margin-left: 15%;
    font-size: 0.8rem;
    word-spacing: 2px;
    padding-bottom: 1%;
  }

.attribution a {
    text-decoration: none;
    display: inline;
    padding: 0;
  }

  .attribution a:hover {
    text-decoration: underline;
  }






}
